:root {
    --light-bg-color: rgb(236, 236, 236);
    --dark-bg-color: #333333;
    --light-color: black;
    --dark-color: white;
}

[data-theme="light"] {
    --bg-color: var(--light-bg-color);
    --text-color: var(--light-color);
}

[data-theme="dark"] {
    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-color);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color) !important; 
}

table {
    background-color: var(--bg-color);
    color: var(--text-color);
}

table th, table td {
    color: var(--text-color);
}
