.day-checkbox {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.day-checkbox.checked {
    background-color: #007bff;
    color: white;
}

.table-work td, .table-work th {
    border-bottom: 1px solid grey;
    color: grey;
}

.table-work table{
    background-color: transparent;
}

.workhour td, .workhour th {
    height: 50px;
    border-bottom: 1px solid grey
}